/*Importación de la fuente*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bree+Serif&family=Manrope:wght@200..800&family=Oswald:wght@200..700&family=Roboto+Slab:wght@100..900&display=swap');

/*FUENTES DISPONIBLES ESA EXPORTACIÓN*/
/*
bree serif: font-family: "Bree Serif", serif;
oswald: font-family: "Oswald", sans-serif;
roboto: font-family: "Roboto Slab", serif;
manrope: font-family: "Manrope", sans-serif;
bebas neue: font-family: "Bebas Neue", sans-serif;
*/

.nav-logo{
    width: 150px;
}

:root{
    --padding-container: 100px 0;
    --color-title: #001A49;
}
    
    
body{
    font-family: 'font-family: "Oswald", serif;' 
}
.container-nav{
    width: 100%;
    height: 75px;
    max-width: 100%;
    background-color: rgba(0, 0, 0, 0.034);
    transform: translateY(-2px);
    box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.596);
}
.container {
    width: 100%;
    max-width: 1350px;
    margin: 0 auto;
    overflow: hidden;
}

.hero{
    width: 100%;
    height: 100vh;
    min-height: 600px;
    max-height: 800px;
    position: relative;
    display: grid;
    grid-template-rows: 100px 1fr;
    color: white;
    background-color: #0000006c;
}

.hero::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: green;
    background-image: linear-gradient(180deg, #0000003f 0%, #0000008c 35%), url('../images/velocidad.jpg');
    background-size: cover;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0% 100%, 0 100%);
    z-index: -1;
}

/* NAV */
.nav{
    --padding-container: 0;
    height: 100%;
    display: flex;
    align-items: center;

}

.nav-logo{
    font-weight: 200px;
    margin-left: 15px;
}

.nav-link{
    font-family: "Manrope", sans-serif;
    margin-left: auto;
    padding: 0;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    gap: 2em;
}

.nav-link a:hover {
    color: rgb(236, 87, 0);
}

.nav-items{
    list-style: none;
}

.nav-links{
    color: #fff;
    text-decoration: none;
    padding-right: 25px;
}

.nav-menu{
    margin-left: auto;
    cursor: pointer;
    display: none;
}

.nav-close{
    display: none;
}

.nav-img-menu{
    display: block;
    width: 30px;
}

/*HERO CONTAINER*/

.hero-section{
    display: grid;
    grid-auto-rows: max-content;
}

.hero-container{
    max-width: 1250px;
    --padding-container:0;
    display: grid;
    grid-auto-rows: max-content;
    gap: 1em;
    padding-bottom: 100px;

}
.hero-container h1{
    padding-top: 30px;
    padding-left: 20px;
    font-family: "Oswald", sans-serif;
    font-size: 3rem;
    color: rgb(255, 255, 255);
    text-shadow: 8px 8px 5px #ff1e0042,
    3px 3px 2px #db2c0050,
    4px 4px 2px #ff330049,
    5px 5px 5px #ffffff2a;
}

.hero-paragraph {
    margin-bottom: 20px;
    font-family: "Roboto", serif;
    font-size: 1.10rem;
    margin-top: 0px;
    margin-left: 20px;
    text-shadow:  1px 1px 50px #ffffff;
}
/*BOTON DE UNETE AHORA*/

.cta {
    display: inline-block;
    background-color: orangered;
    justify-items: center;
    color: #fff;
    text-decoration: none;
    text-align: center;
    width: 150px;
    font-size: 20pt;
    font-family: "Bebas Neue", sans-serif;
    margin-left: 75%;
    padding: 15px 20px;
    border-radius: 15px;
    box-shadow: 0px 5px 10px 0px rgba(255, 0, 0, 0.774); 
}
.cta:active{
    background-color: rgb(0, 0, 66);
    transform: scale(0.97); /* Da mejor sensación de clic */
    box-shadow: 0px 10px 20px 2px rgba(34, 0, 128, 0.904);
}
/*MAIN - CONTENIDO PRINCIPAL*/

.container-section-internet{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    background-color: #fcb8ac;
}
.title-internet h2{
    color: rgb(255, 255, 255);
    font-family: "Bree Serif", serif;
    font-size: 2.25rem;
    text-shadow: 8px 8px 10px #000000da,
    3px 3px 8px #ff6b15da,
    4px 4px 5px #fd7f18da,
    5px 5px 5px #ff0000c4;
}
.title-internet h3{
    color: rgb(255, 255, 255);
    font-family: "Oswald", sans-serif;
    font-size: 26pt;
    text-shadow: 2px 2px 5px rgb(0, 0, 0),
    3px 3px 8px rgb(0, 0, 0),
    3px 3px 8px rgb(255, 17, 0);
}
.section-internet {
    width: 100%;
    max-width: 1250px;
    margin: 0 auto;
    overflow: hidden;
    padding: 50px;
}
.container-cards-internet{
    display: flex;
    margin: 15px 0px 0px 0px;
    padding: 50px 50px;
    flex-direction: row;
    gap: 50px;
}
.cards-internet{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    gap: 15px;
    padding: 0;
    border-radius: 20px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.774);  
}
.cards-internet:hover{
    transform: scale(1.10);
}
.container-card-title{
    padding: 20px;
    padding-bottom: 10px;
}
.container-card-title h3{
    color: rgb(191, 150, 112);
    font-family: "Oswald", sans-serif;
    font-size: 26pt;
    text-shadow: 2px 2px 5px rgb(0, 0, 0);
}
.container-card-title p{
    color: rgba(58, 28, 231, 0.884);
    font-family: "Bebas Neue", sans-serif;
    font-size: 20pt;
    padding-top: 15px;
}
.container-card-title1{
    padding: 20px;
    padding-bottom: 10px;
}
.container-card-title1 h3{
    color: #e3e4e5;
    font-family: "Oswald", sans-serif;
    font-size: 26pt;
    text-shadow: 2px 2px 5px rgb(0, 0, 0);
}
.container-card-title2{
    padding: 20px;
    padding-bottom: 10px;
}
.container-card-title2 h3{
    color: #efb810;
    font-family: "Oswald", sans-serif;
    font-size: 26pt;
    text-shadow: 2px 2px 5px rgb(0, 0, 0);
}
.container-card-title2 p{
    color: rgba(58, 28, 231, 0.884);
    font-family: "Bebas Neue", sans-serif;
    font-size: 20pt;
    padding-top: 15px;
}
.container-card-title1 p{
    color: rgba(58, 28, 231, 0.884);
    font-family: "Bebas Neue", sans-serif;
    font-size: 20pt;
    padding-top: 15px;
}
.container-card-informacion{
    background-color: rgb(191, 137, 112);
    box-shadow: 1px 0 5px #000000;
    border-radius: 0 0 20px 20px;
    padding: 30px;
}
.container-card-informacion1{
    background-color: #dbdbdb;
    box-shadow: 1px 0 5px #000000;
    border-radius: 0 0 20px 20px;
    padding: 30px;
}
.container-card-informacion2{
    background-color: #efb810;
    box-shadow: 1px 0 5px #000000;
    border-radius: 0 0 20px 20px;
    padding: 30px;
}
.container-card-informacion p{
    font-family: "Manrope", sans-serif;
    font-size: 12pt;
    margin-bottom: 10px;
}
.li-card{
    list-style: none;
    text-align: center;
    justify-content: center;
}
.container-card-informacion1 p{
    font-family: "Manrope", sans-serif;
    font-size: 12pt;
    margin-bottom: 10px;
}
.container-card-informacion2 p{
    font-family: "Manrope", sans-serif;
    font-size: 12pt;
    margin-bottom: 10px;}
.container-list-card {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start; 
}

.li-card {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 10px;
  font-size: 14px;
}

.check-icon {
  color: green;
  font-size: 16px;
}

.check-text {
  text-align: left;
}

/*BOTON DE CARDS*/
.btn-solicitar {
    display: inline-block;
    background-color: rgba(47, 0, 255, 0.699);
    justify-items: center;
    color: #fff;
    text-decoration: none;
    text-align: center;
    width: 200px;
    font-size: 16pt;
    font-family: "Bebas Neue", sans-serif;
    padding: 15px 15px;
    border-radius: 15px;
    margin-top: 10px;
    box-shadow: 0px 5px 10px 0px rgba(25, 0, 255, 0.774);  
}

.btn-solicitar:active{
    background-color: rgba(5, 161, 0, 0.699);
    transform: translateY(-2px);
    box-shadow: 0px 10px 20px 2px rgba(34, 0, 128, 0.904);
}
.section-informacion-caracteristicas h2{
    margin-top: 25px;
    text-align: center;
    justify-content: center;
    font-family: "Bree Serif", serif;
    font-size: 3rem;
}
.section-caracteristicas{
    display: flex;
    flex-direction: row;
    padding-top: 50px;
    padding-bottom: 50px;
}
.caracteristicas-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 15px;
    margin-left: 50px;
}
.card-caracteristica{
    width: 150px;
    height: 250px;
    margin: 20px;
    border-radius: 15px;
    justify-content: center;
    text-align: center;
    box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.596);
    
}
.image-class-card img{
    width: 75px;
    margin: 10px;
    filter: drop-shadow(5px 5px 10px #000);
}
.container-image-refer img{
    width: 850px;
    margin-left: 20px;
    margin-top: 25px;
    border-radius: 15px;
    box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.596);
}
.cards-explicacion-caracteristica h3{
    font-family: "Manrope", sans-serif;
    font-size: 12pt;
}
.cards-explicacion-caracteristica p{
    margin: 10px;
    font-family: "Manrope", sans-serif;
    font-size: 10pt;
    text-align: justify;
}
.footer-inicio{
    display: flex;
    flex-direction: row;
    background-color: #18191b;
    color: white;
    height: 300px;

}
.informacion-company{
    margin-top: 25px;
    margin-left: 50px;
    width: 400px;

}
.footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1375px;
    margin: 0 auto;
    overflow: hidden;
    background-color: #18191b;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}
.section-img-footer img{
    width: 400px;
    margin-left: 50px;
}
.copyrigth{
    background-color: #001A49;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0;
}
.copyrigth h4{
    font-family: "Roboto Slab", serif;
    font-size: .70rem;
    margin-left: 25px;
}
.informacion-company img{
    width: 175px;
}
.informacion-company h3{
    margin-top: 25px;
    margin-left: 20px;
    font-family: "Roboto Slab", serif;
}
.informacion-company p{
    margin-top: 10px;
    margin-left: 20px;
    width: 300px;
    font-family: "Roboto Slab", serif;
}
.redes-sociales{
    display: flex;
    flex-direction: column;
}

.facebook img{
    width: 40px;
    margin-top: 100px;
    margin-left: 150px;
}
.facebook a{
    text-decoration: none;
    justify-content: center;
    text-align: center;
    margin-left: 10px;
    color: white;
    font-family: "Bree Serif", serif;
}
.instagram img{
    width: 40px;
    margin-top: 25px;
    margin-left: 150px;
}
.instagram a{
    text-decoration: none;
    justify-content: center;
    text-align: center;
    margin-left: 10px;
    color: white;
    font-family: "Bree Serif", serif;
}
/*MEDIA QUERIES*/

@media (max-width: 480px){

}