@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Big+Shoulders:opsz,wght@10..72,100..900&family=DM+Serif+Text:ital@0;1&family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Oswald", sans-serif;
    font-size: 1.05rem;
}

body {
    background-color: white;
}

/*NAVBAR STYLE*/

.header {
    background-color: rgb(31, 31, 31);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 5vw;
    padding: 1vw 4%;
}

.header .logo {
    cursor: pointer;
    margin-right: auto;
}

.header .logo img{
    height: 3vw;
    width: auto;
    transition:  all 0.3;
}

.header .logo img:hover {
    transform: scale(1);
    width: auto;
}

.header .logo img:active {
    transform: scale(0.95);
}

.navbar {
    display: flex;
    flex-direction: row;
}

.nav-links {
    list-style: none;
    display: flex;
    flex-direction: row;
    padding: 1vw;
    padding-right: 3vw;
}

.nav-links li {
    display: inline-block;
    padding: 0 2vw;
}

.header .nav-links li:hover {
    transform: scale(1);
    
}

.header .nav-links li:active {
    transform: scale(0.95);
}

.header .nav-links a {
    font-size: 1.05rem;
    color: white;
    text-decoration: none;
}

.header .nav-links a:hover {
    font-size: 1.05rem;
    color: rgb(236, 87, 0);
}

.header .navbar .btnCall button {
    cursor: pointer;
    width: auto;
    height: auto;
    margin: .5vw;
    padding: 0.75vw 1vw;
    border-radius: 5px;
    border: none;
    font-size: 1.05rem;
    background-color: rgb(255, 94, 0);
    color: rgb(255, 255, 255);
}

.header .navbar .btnCall button:hover {
    transform: scale(1);
    width: auto;
    
}

.header .navbar .btnCall button:active {
    transform: scale(0.95);
    background-color: rgb(27, 0, 146);
    color: white;

}

.nav-item {
    position: relative;
    padding-bottom: 5px;
    transition: color 0.3s ease-in-out;
}

.nav-item::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: .10vw;
    background-color: rgb(236, 87, 0); /* Color de la barra */
    transition: width 0.3s ease-in-out;
}

.nav-item:hover::after {
    width: 100%;
}

/* Mantener la barra en el elemento activo */

.nav-item.active::after {
    width: 100%;
}

.menu-icon {
    display: none;
    color: white;
}

/*HOME SECTION STYLE*/

.home-section {
    width: auto;
    height: 20vw;
}

.home-section .home {
    width: auto;
    height: 20vw;
    background-size: cover;  /* Hace que la imagen cubra todo el espacio */
    background-repeat: no-repeat;  /* Evita que la imagen se repita */
    background-position: center;  /* Centra la imagen */
}

.home-section .home {
    display: flex;
    flex-direction: column;
    width: 100%;

}

.home img {
    position: absolute;
    width: 100%;
    height: 40vw;
    object-fit: cover;
}
.home h1 {
    position: absolute;
    top: 20vw;
    left: 30%;
    transform: translate(-50%, -50%); /* Centra exactamente en el medio */
    color: white;
    font-size: 5vw;
    font-weight: bold;
    text-shadow: -5px 4px 5px rgba(0, 0, 0, 0.87);
}
.home .btnUnete button{
    position: absolute;
    cursor: pointer;
    width: auto;
    height: auto;
    margin-top: 35vw;
    margin-left: 80vw;
    padding: 0.75vw 5vw;
    border-radius: 5px;
    display: flex;
    border: none;
    font-size: 1vw;
    background-color: rgb(255, 94, 0);
    color: rgb(255, 255, 255);
    box-shadow: 3px 3px 8px rgba(255, 255, 255, 0.3);
}
.home .btnUnete button:hover {
    transform: scale(1);
    width: auto;
}

.home .btnUnete button:active {
    transform: scale(0.95);
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

/*MEDIAS QUERIES - RESPONSIVE*/

@media (600px <= width <= 1000px) {
    .header {
    background-color: rgb(31, 31, 31);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 5vw;
    padding: 1vw 4%;
    }
    
    .navbar {
        display: flex;
        flex-direction: row;
    }

    .nav-links {
        list-style: none;
        display: flex;
        flex-direction: row;
        margin: 6px;
        padding-top: .5vw;
        padding-right: .5vw;
    }

    .header .nav-links a {
        font-size: 2vw;
        color: white;
        text-decoration: none;
    }
    .header .navbar .btnCall button {
        cursor: pointer;
        width: auto;
        height: auto;
        font-size: .75rem;
        margin: 1.5vw;
        padding: 0.5vw .75vw;
        border-radius: 5px;
        border: none;
        background-color: rgb(236, 87, 0);
        color: rgb(255, 255, 255);
    }
    .home h1 {
        font-size: 5vw;
        font-weight: bold;
        position: absolute;
        top: 20vw;
        left: 30%;
        transform: translate(-50%, -50%); /* Centra exactamente en el medio */
    }
}

@media (100px <= width <= 600px) {

    .navbar {
        margin: 0;
        padding: 0;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        margin: 0;
        padding: 0;
        height: 100%;
        background: rgb(31, 31, 31);
        position: absolute;
        left: 0;
        text-align: center;
    }

    .nav-links li {
        margin: 0;
        padding: 10px;
    }

    .menu-icon {
        display: block;
        color: white;
    }
    .hamburger {
        display: block; /* Muestra en móviles */
    }

    .header .navbar .btnCall button {
        display: none;
    }
    /* Clase para activar el menú */
    .menu-icon.active{
    display: flex;
    }
    .home h1 {
        font-size: 5vw;
        font-weight: bold;
        position: absolute;
        top: 20vw;
        left: 30%;
        transform: translate(-50%, -50%); /* Centra exactamente en el medio */
    }
    .home .btnUnete {
        margin-top: 20vw;
        margin-left: 80vw;
    }
}


